fastapi==0.115.0
google-auth==2.40.3
google-cloud-aiplatform[evaluation]==1.97.0
itsdangerous==2.2.0
jinja2==3.1.5
langchain-community==0.3.25
langchain==0.3.25
langchain-core==0.3.67
langchain-google-vertexai==2.0.28
markdown==3.7
types-Markdown==3.7.0.20240822
uvicorn[standard]==0.31.0
python-multipart==0.0.18
pytz==2025.1
types-pytz==2025.1.0.20250204
langgraph==0.4.8
pandas-stubs==2.2.2.240807
pandas==2.2.3
pydantic==2.9.0
toolbox-langchain==0.5.2