asyncpg==0.29.0
fastapi==0.104.1
google-cloud-firestore==2.13.1
google-cloud-aiplatform==1.36.4
langchain==0.0.337
pgvector==0.2.3
pydantic==2.5.1
uvicorn[standard]==0.24.0.post1
cloud-sql-python-connector==1.4.3
sqlalchemy==2.0.21
