fastapi==0.115.0
google-auth==2.35.0
google-cloud-aiplatform[evaluation]==1.72.0
itsdangerous==2.2.0
jinja2==3.1.5
langchain-community==0.3.2
langchain==0.3.7
langchain-google-vertexai==2.0.7
markdown==3.7
types-Markdown==3.7.0.20240822
uvicorn[standard]==0.31.0
python-multipart==0.0.18
pytz==2025.1
types-pytz==2024.2.0.20241003
langgraph==0.2.48
httpx==0.27.2
pandas-stubs==2.2.2.240807
pandas==2.2.3
pydantic==2.9.0