fastapi
google-auth
google-cloud-aiplatform[evaluation]
itsdangerous
jinja2
langchain-community
langchain
# langchain-google-vertexai
git+https://github.com/langchain-ai/langchain-google.git@history_gemini#subdirectory=libs/vertexai
markdown
types-Markdown
uvicorn[standard]
python-multipart
pytz
types-pytz
langgraph
httpx
pandas-stubs
pandas
