asyncpg==0.29.0
fastapi==0.109.2
google-auth==2.33.0
google-cloud-firestore==2.17.1
google-cloud-aiplatform==1.60.0
google-cloud-spanner==3.46.0
langchain-core==0.2.24
pgvector==0.2.5
pydantic==2.6.1
uvicorn[standard]==0.27.0.post1
cloud-sql-python-connector==1.10.0
google-cloud-alloydb-connector[asyncpg]==1.2.0
sqlalchemy==2.0.25
pandas==2.2.2
pandas-stubs==2.2.2.240807
langchain-text-splitters==0.2.2
langchain-google-vertexai==1.0.7
asyncio==3.4.3
datetime==5.5
pymysql==1.1.1
types-PyMySQL==1.1.0.20240524
neo4j==5.23.0
sqlparse==0.5.1
