asyncpg==0.29.0
fastapi==0.109.2
google-cloud-firestore==2.14.0
google-cloud-aiplatform==1.44.0
langchain-core==0.1.34
pgvector==0.2.5
pydantic==2.6.1
uvicorn[standard]==0.27.0.post1
cloud-sql-python-connector==1.6.0
sqlalchemy==2.0.25
pandas==2.2.1
pandas-stubs==2.2.1.240316
langchain-text-splitters==0.0.1
langchain-google-vertexai==0.1.1
asyncio==3.4.3
