asyncpg==0.29.0
fastapi==0.109.1
google-cloud-firestore==2.13.1
google-cloud-aiplatform==1.41.0
langchain==0.0.354
pgvector==0.2.4
pydantic==2.5.3
uvicorn[standard]==0.25.0
cloud-sql-python-connector==1.5.0
sqlalchemy==2.0.25
